@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply text-white;
	font-family: 'Chakra Petch', sans-serif;

	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

html {
	background-color: rgb(109, 109, 109);
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-xl ml-3 w-fit px-2;
}

textarea {
	border: solid 1px black;
	outline: none;

	-webkit-user-select: auto;
	/* Safari */
	-moz-user-select: auto;
	/* Firefox */
	-ms-user-select: auto;
	/* IE10+/Edge */
	user-select: auto;
	/* Standard */
}

button,
input,
select {
	@apply rounded;
	border: solid 1px black;
}

select {
	@apply p-1;
}

input,
button,
textarea,
select,
.shadow {
	@apply rounded;
	background-color: rgb(34, 34, 34);
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

img {
	filter: drop-shadow(12px 12px 2px rgba(0, 0, 0, 0.2));
}

button,
input,
select {
	@apply mx-1;
}

button:not([disabled]):hover,
input:not([disabled]):hover,
select:not([disabled]):hover {
	@apply bg-black;
}

button:disabled,
input:disabled,
select:disabled {
	@apply opacity-50;
}

button,
input,
select,
.transition {
	@apply transition-all duration-150;
}

.error {
	@apply p-2 border-red-500 border rounded-md bg-orange-200 text-red-600 text-center;
}
